BASE_PATH=/volume1/docker/opnsense-central
WEB_PORT=8788
TZ=Europe/Brussels
APP_NAME=OPNsense Central Lite
ADMIN_USER=admin
ADMIN_PASSWORD=CHANGE_ME_NOW
APP_KEY=34a89c3f5b35c2e8c08de3e87793e3ede6f8173308b5f119e74fa27a918da68c
SESSION_SECURE=false
